
html{
    height: 100vh;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

:root{
    --cor-primaria: #0077CC;
    --cor-segundaria: #ffffffd2;
}

.container{
    background: url('../assets/pexels-conojeghuo-127673.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

header nav {
    display: flex;
    justify-content: space-between;
    background: var(--cor-segundaria);
}

header ul{
    display: flex;
    gap: 20px;
    align-items: center;
}

li{
    color: var(--cor-primaria);
    font-size: 25px;
    cursor: pointer;
    transition: 1s;
}

li:hover{
    color: #FFD166; 
}

.usuario{
    display: flex;
    justify-content: end;
}

.title{
    text-align: center;
    padding: 20px;
    font-size: 2rem;
    color: var(--cor-segundaria);
}

.container2{
    padding: 60px;
}

h3{
    text-align: center;
    padding: 50px;
    color: var(--cor-segundaria);
}

.cards{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.card{
   background: var(--cor-primaria); 
   padding: 20px;
   color: #ffffffd2;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
   font: bold;
}

.card:hover{
    background:  #196296;
    color: #FFD166;
}

.subtitle{
    padding: 20px;
}

.pesquisa {
  display: flex;
  flex-direction: column; /* mantém os itens em coluna */
  align-items: center;     /* centraliza horizontalmente */
  text-align: center;      /* centraliza o texto */
  gap: 10px;
  padding: 40px;
}

input::placeholder{
    color: var(--cor-primaria);
}

input{
    width: 200px;
    font-size: 15px;
    border-radius: 20px;
    border: var(--cor-primaria) solid 2px;
    padding: 5px 80px;
}

