
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Oswald:wght@200..700&family=Protest+Revolution&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary-50: #f0f6f9;
  --color-primary-100: #e2eef4;
  --color-primary-200: #c0dfea;
  --color-primary-300: #93c8db;
  --color-primary-400: #62adcd;
  --color-primary-500: #3b8eb5;
  --color-primary-600: #256f93;
  --color-primary-700: #1a5775; 
  --color-primary-800: #15455d;
  --color-primary-900: #103447;
  --color-primary-950: #0c212c;

  --color-white: #fff;
  
  --color-desabled: #6f818b;

  --color-error: #e53e3e;
  --color-success: #38a169;
  --color-warning: #dd6b20;
  
  --color-dark-teal-700: #1a5775;
  --color-dark-teal-500: #3b8eb5;

  --color-light: #fffffff1;

  --color-background-card-blue: #BFDBFE;
  --color-background-card-green: #BBF7D0;

  --font-title: 'Roboto', ui-sans-serif, system-ui, sans-serif;
  --font-destaque: 'Oswald', sans-serif;
  --font-chamativa: 'Protest Revolution', sans-serif;
  --font-cursive: 'Dancing Script', cursive;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-destaque);
  }
  p {
    font-family: var(--font-title);
  }
  li, button, strong, a {
    font-family: var(--font-title);
  }
}